body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    background-color: aquamarine; /* cor da borda*/
    border-style: solid; /* estilo da borda*/
    margin: 50px 50px;  /* tamanho  da margem*/
    border-block-end-color: red;
    padding: 30px; /* tamanho do pading*/
    
}
ul li{
    font-size: 15px;   /* tamanho da font*/
    text-transform: uppercase; /*deixa tudo maiusculo*/
    text-align: center; /* centralisa*/
}

ol li{
    color: red; /* cor da font*/
}

/*----Piseldo classe------*/

a:link{
    color: navy;
}

/*se o usuario passar o mouse ele ativa o houver*/
a:hover{

    color: plum;
    font-size: 20px;

}

/*se o usuario clicar e segurar o link ele ativa o active*/
a:active{
    
    color: mediumturquoise;
    font-size: 50px;

}

/*modifica o link depois de acessado*/
a:visited{
    color: olive;
    font-size: 13px;
}